#
#
#

!.gitignore
*.o
*.lo
*.la
*.deps
*.dirstamp
*.libs
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/config.h
src/Makefile
src/Makefile.in
src/stamp-h1
src/version.h
tools/build-aux/m4/l*.m4
tools/build-aux/test-driver
tools/build-aux/*-e
/result*
/build
target/release
target/debug
/build-gcc*/
/build-clang*/
/*/*/*/.build/
/subprojects/*
!subprojects/gdk_rust*
/subprojects/gdk_rust/gdk_electrum/target
/subprojects/gdk_rust/gdk_rpc/target
!subprojects/*meson*
!subprojects/*wrap*
*.orig
*.rej
*.swp
*.class
*.so
*.dylib
*.tar
*.pyc
Package.resolved
.idea/
docs/source/gdk.rst
docs/build
.pytest_cache/
*.pyc
*PVS-Studio*
/TAGS
/tor
*~
target/
