[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/libevent"]
	path = src/libevent
	url = https://github.com/libevent/libevent.git
[submodule "src/libwally-core"]
	path = src/libwally-core
	url = https://github.com/ElementsProject/libwally-core
[submodule "src/msgpack-c"]
	path = src/msgpack-c
	url = https://github.com/msgpack/msgpack-c/
[submodule "src/openssl"]
	path = src/openssl
	url = https://github.com/openssl/openssl/
[submodule "src/GSL"]
	path = src/GSL
	url = https://github.com/microsoft/GSL
[submodule "src/websocketpp"]
	path = src/websocketpp
	url = https://github.com/glslang/websocketpp
[submodule "src/tor"]
	path = src/tor
	url = https://github.com/torproject/tor.git
[submodule "src/autobahn-cpp"]
	path = src/autobahn-cpp
	url = https://github.com/jgriffiths/autobahn-cpp
