[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/libevent"]
	path = src/libevent
	url = https://github.com/libevent/libevent.git
[submodule "src/libwally-core"]
	path = src/libwally-core
	url = https://github.com/ElementsProject/libwally-core
